* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #333;
    background-image: url("img/img_bg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.logo a {
    color: #fff;
    font-size: 30px;
}

.menu ul {
    display: flex;
}

.menu ul li a {
    margin-left: 25px;
    font-size: 18px;
    color: #fff;
}

.menu ul li a:hover {
    color: tomato;
}

#mainDiv {
    margin-bottom: 30px;

}

.tag {
    margin-bottom: 30px;
    color: #fff;
}

.dealing-cards {
    display: flex;

}

.dealer {
    flex-basis: 33.33%;
    display: flex;
    flex-direction: column;
}

.player {
    flex-basis: 33.33%;
    display: flex;
    flex-direction: column;
}

#dealer, #player {
    /* background-color: beige; */
    min-height: 300px;
    flex-basis: 33.33%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

#Card5 {
    background-image: url("./img/decks.jpg");
    background-size: cover;
    background-position: center;
}

#Card5>.scard {
    display: none;
}

.deck {
    flex-basis: 33.33%;
    /* justify-self: center; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.deck img {
    /* position: relative; */
    width: 30%;
    border-radius: 10%;
    border-right: 4px solid #ddd;
    border-bottom: 4px solid #ddd;
    
}
@keyframes shuffle {
    from {transform: translate(0px); z-index: -1;}
    to {transform: translate(130px);}
}

.deck img:nth-child(2) {
    position: absolute;
    animation-name: willshuffle;
    animation-duration: 0.14s;
    animation-timing-function: linear;
    animation-iteration-count: 8;
    animation-direction: alternate;
   
}

#fResult {
    font-size: 30px;
    text-align: center;
    flex-basis: 8%;
    background-color: rgba(0, 0, 0, 0.01);
    animation-name: resultText;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes resultText {
    0% {
        color: red;
    }

    25% {
        color: #ffa903;
    }

    50% {
        color: #ebf61c;
    }

    75% {
        color: #02e6b0;
    }

    100% {
        color: red;
    }
}


.main-score {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 100%;
}

#dscore {
    background-color: aliceblue;
    visibility: hidden;
    padding: 6px;
    border-radius: 5%;
    width: 35%;
}

#pscore {

    background-color: aliceblue;
    padding: 6px;
    border-radius: 5%;
    width: 35%;
}

.buttons-chips {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.flipCard {
    transform: rotateY(180deg);
}

.chips {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.buttons {
    width: 32%;
}

.single-button button {
    width: 100%;
    font-size: 20px;
    margin-bottom: 5px;
}

.single-button {
    width: 100%;
}

label#chips {
    color: #fff;
}

.red {
    color: red;
}

.black {
    color: black;
}

p {
    display: inline-block;
    width: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
}

deal:disabled {
    pointer-events: none;
}

hit:disabled {
    pointer-events: none;
}

hold:disabled {
    pointer-events: none;
}

#label {
    background-color: aliceblue;
    padding: 6px;
    border-radius: 10%;
}

.cards {
    width: 90px;
    height: 110px;
    text-align: center;
    font-size: large;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10%;
}

.left {

    float: left;
    text-align: left;
    margin-top: 0;
    padding: 1px 4px;

}

.right {

    float: right;
    text-align: right;
    margin-bottom: 0;
    padding: 1px 4px;

}

#player .cards p:nth-child(2) {
    font-size: 60px;
    height: 50%;
    text-align: center;
    padding: 10px;
    text-shadow: #7989bc 2px 3px 5px;
}

#dealer .cards p:nth-child(2) {
    font-size: 60px;
    height: 50%;
    text-align: center;
    padding: 10px;
    text-shadow: #7989bc 2px 3px 5px;
}

