body {
    background: url("img/img_bg.jpg");
    background-size: cover;

}
#dealer {
    background-color: beige !important;
    width: 200px;
    height: 200px;
}
#player {
    background-color: darkgray !important;
    width: 200px;
    height: 200px;
    float: right;
}
button {
    width: 20%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    opacity: 0.7;
    font-size: large;    
}
p {
    display: inline-block;
    width: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
}
deal:disabled {
    pointer-events: none;
}
hit:disabled {
    pointer-events: none;
}
hold:disabled {
    pointer-events: none;
}
#dscore {
    background-color: aliceblue;
    display: none;
}
#pscore {
    position: absolute;
    background-color: aliceblue;
    /* float: right; */
    display: inline-block;
    right: 8px;
}
#chips {
    margin-top: 20px;
    background-color: aliceblue;
    float: right;
}
#para5 {
    display: none;
}
#label {
    background-color: aliceblue;
}
#chipsInput {
    position: absolute;
    margin-top: 40px;
    right: 8px;
}
